:root {
    --pigeon-pink: #DC428C;
    --pigeon-light-pink: #F7C5E6;
    --default-font: "Quincy CF - Regular";
}

@font-face {
    font-family: "Quincy CF - Regular";
    src:
        url(/fonts/QuincyCFRegular/font.woff2) format(woff2),
        url(/fonts/QuincyCFRegular/font.woff) format(woff);
}

* {
    box-sizing: border-box;
}

.pigeon-pink {
    color: var(--pigeon-pink);
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100dvh;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--pigeon-light-pink);
    font-family: var(--default-font);

    &.has-open-modal {
        overflow: hidden;
    }
}

.nowrap {
    white-space: nowrap;
}

#lang-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 20px 10px;

    @media(min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

#site-header {
    text-align: center;
}


.boxed-text-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: -20px;
    margin-right: -20px;

    @media(min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }

    li {
        margin: 0;
        padding: 6px 12px;
        border: 1px solid var(--pigeon-pink);
        font-size: 13px;
        line-height: 18px;
        text-align: left;

        @media(min-width: 768px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
